// app global css in SCSS form
@font-face {
  font-family: "Saira Regular";
  src: url(./fonts/Saira-Regular.ttf) format("woff2");
}

a{
  text-decoration: none;
}

.card {
  padding: 20px;
  margin: 5px;
  box-shadow: none;
}

.rounded {
  border-radius: 25px;
}

.rounded-bottom {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}


#bgVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

body.screen--xs{
  .heading-text{
    font-size: 2.5em;
  }
}

.form-item {
  margin: 5px;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #121517 inset !important;
  -webkit-text-fill-color: white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
