// app global css in SCSS form
@font-face {
  font-family: "Saira Regular";
  src: url(./fonts/Saira-Regular.ttf) format("woff2");
}

.svgBackground {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1104%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(26%2c 25%2c 27%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c507.328C92.7%2c493.216%2c173.472%2c441.982%2c245.332%2c381.744C310.559%2c327.066%2c362.918%2c258.989%2c391.776%2c178.918C419.148%2c102.969%2c397.268%2c22.4%2c403.839%2c-58.063C412.774%2c-167.467%2c487.426%2c-281.281%2c437.336%2c-378.954C387.44%2c-476.25%2c263.753%2c-510.361%2c157.877%2c-537.68C54.379%2c-564.385%2c-56.669%2c-570.975%2c-156.242%2c-532.112C-251.902%2c-494.776%2c-312.097%2c-406.305%2c-378.786%2c-328.22C-444.989%2c-250.704%2c-544.548%2c-180.139%2c-543.907%2c-78.202C-543.263%2c24.253%2c-417.851%2c78.191%2c-375.644%2c171.551C-333.183%2c265.474%2c-375.39%2c395.846%2c-298.541%2c464.539C-222.04%2c532.921%2c-101.44%2c522.771%2c0%2c507.328' fill='%23181719'%3e%3c/path%3e%3cpath d='M1440 913.2850000000001C1518.367 930.712 1600.994 956.2570000000001 1675.589 926.5830000000001 1755.085 894.9590000000001 1834.896 832.3340000000001 1853.445 748.814 1871.965 665.423 1786.828 596.117 1767.4569999999999 512.919 1750.465 439.94 1785.812 357.95799999999997 1747.454 293.589 1707.021 225.73899999999998 1632.958 183.187 1557.351 160.33800000000002 1481.405 137.387 1401.477 147.63799999999998 1324.219 165.685 1243.221 184.606 1154.8 202.834 1101.624 266.795 1048.724 330.425 1059.537 421.799 1043.759 503.029 1027.033 589.142 957.789 684.954 1006.191 758.114 1056.569 834.259 1177.3609999999999 804.156 1263.329 834.906 1325.244 857.053 1375.811 899.011 1440 913.2850000000001' fill='%231c1b1d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1104'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

a{
  text-decoration: none;
}

.card {
  border-radius: 25px;
  padding: 20px;
  margin: 5px;
  box-shadow: none;
}

.rounded {
  border-radius: 25px;
}

.plain-link {
  text-decoration: none;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#bgVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

body.screen--xs{
  .heading-text{
    font-size: 2.5em;
  }
}

.form-item {
  margin: 5px;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #121517 inset !important;
  -webkit-text-fill-color: white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
