// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #00E5E8;
$secondary : #c77801;
$accent    : #9C27B0;

$dark      : #171214;
$dark-page : #171214;
$card: 'rgba(46,65,72,0.25)';

$positive  : #03f3ad;
$negative  : #ff3333;
$info      : #00d8ff;
$warning   : #ffeb00;

$typography-font-family: "Saira Regular";

